{{!--Header--}}
<div class='table-header'>
  {{#each headerComponentNames as |componentName|}}
    {{component componentName tableDefinition=_definition dataProcessor=_dataProcessor}}
  {{/each}}
</div>

{{!--Body--}}
<div class='table-body'>
  {{#if message}}
    <h4 class="table-message">{{message}}</h4>
  {{else}}
    <div class='table-scroll-body'>
      {{#each _columns as |column colIndex|}}
        {{em-table-column
          rows=_dataProcessor.processedRows
          definition=column.definition
          defaultWidth=column.width
          tableDefinition=_definition
          dataProcessor=_dataProcessor
          index=colIndex
        }}
      {{/each}}
    </div>
  {{/if}}
</div>

{{!--Footer--}}
{{#if displayFooter}}
  <div class='table-footer'>
    {{#each footerComponentNames as |componentName|}}
      {{component componentName tableDefinition=_definition dataProcessor=_dataProcessor}}
    {{/each}}
  </div>
{{/if}}
