{{#if normalizedLinks}}
  {{#each normalizedLinks as |link|}}
    {{#if link.routeName}}
      {{#if link.withModel}}
        {{#link-to link.routeName link.model}}
          {{link.text}}
        {{/link-to}}
      {{else}}
        {{#link-to link.routeName}}
          {{link.text}}
        {{/link-to}}
      {{/if}}
    {{else if link.href}}
      <a href={{link.href}}>
        {{link.text}}
      </a>
    {{else}}
      {{link.text}}
    {{/if}}
  {{/each}}
{{else}}
  <span class="txt-message">Not Available!</span>
{{/if}}
