<ul class="page-list">
  <li class="{{if atFirst 'clickable'}}" {{action 'changePage' 1}}>
    First
  </li>
  {{#each _possiblePages as |page|}}
    <li class="{{if page.isCurrent 'is-current' 'clickable'}}" {{action 'changePage' page.pageNum}}>
      {{page.pageNum}}
    </li>
  {{/each}}
  {{#unless hideLast}}
    <li class="{{if atLast 'clickable'}}" {{action 'changePage' totalPages}}>
      Last - {{totalPages}}
    </li>
  {{/unless}}
</ul>
<div class='row-select'>
  <div>Rows</div>
  <select onchange={{action "selectVehicle" value="target.value"}}>
    {{#each rowCountOptions as |option|}}
      <option value={{option}} selected={{eq rowCount option}}>{{option}}</option>
    {{/each}}
  </select>
</div>
