{{#if normalizedLinks.length}}
  {{#each normalizedLinks as |link|}}
    {{#if link.routeName}}
      {{#if link.withModel}}
        {{#link-to link.routeName link.model target=definition.target}}
          {{link.text}}
        {{/link-to}}
      {{else}}
        {{#link-to link.routeName target=definition.target}}
          {{link.text}}
        {{/link-to}}
      {{/if}}
    {{else if link.href}}
      <a href={{link.href}} target={{definition.target}} download={{link.download}}>
        {{link.text}}
      </a>
    {{else}}
      {{link.text}}
    {{/if}}
  {{/each}}
{{else}}
  <span class="txt-message">Not Available!</span>
{{/if}}
