<ul class="page-list">
  {{#if showFirst}}
    <li title="Go to first page" class="clickable" {{action 'changePage' 1}}>
      First
    </li>
  {{/if}}
  {{#each _possiblePages as |page|}}
    <li class="{{if page.isCurrent 'is-current' 'clickable'}}" {{action 'changePage' page.pageNum}}>
      {{page.pageNum}}
    </li>
  {{/each}}
  {{#if showLast}}
    <li title="Go to last page, {{dataProcessor.totalPages}} page(s) available in total"  class="clickable" {{action 'changePage' dataProcessor.totalPages}}>
      Last - {{dataProcessor.totalPages}}
    </li>
  {{/if}}
</ul>

<div class='row-select'>
  <select title="Select rows to display" class="form-control" onchange={{action "rowSelected" value="target.value"}}>
    {{#each rowCountOptions as |option|}}
      <option value={{option.value}} selected={{option.selected}}>
        {{option.value}} Rows
      </option>
    {{/each}}
  </select>
</div>