{{#if isWaiting}}
  Waiting...
{{else}}
  {{#if columnDefinition.cellComponentName}}
    {{component columnDefinition.cellComponentName content=_cellContent definition=columnDefinition.cellDefinition}}
  {{else}}
    {{#unless columnDefinition.cellDefinition}}
      {{txt _cellContent}}
    {{else}}
      {{txt _cellContent
        type=columnDefinition.cellDefinition.type
        format=columnDefinition.cellDefinition.format
        timeZone=columnDefinition.cellDefinition.timeZone
        valueFormat=columnDefinition.cellDefinition.valueFormat
        valueTimeZone=columnDefinition.cellDefinition.valueTimeZone
        valueUnit=columnDefinition.cellDefinition.valueUnit
      }}
    {{/unless}}
  {{/if}}
  {{#if _comment}}
    <div title="{{_comment}}" class="comment-indicator"></div>
  {{/if}}
{{/if}}