<div class="field-name" {{action "toggleValueDisplay"}} title={{data.column.headerTitle}}>
  <div class="field-title">{{data.column.headerTitle}}</div>
  <div class="field-count">({{data.facets.length}})</div>
  <a class="all-button" title={{allButtonTitle}} {{action "selectAll" bubbles=false}}>All</a>
</div>

<ul class="value-list">
  {{input type="text" class="filter-box" value=filterText placeholder="Filter"}}

  {{#if showPagination}}
    <div class="pagination-controls">
      {{currentPage}}/{{totalPages}}
      <div class="arrows">
        <span {{action "changePage" -1}} class="{{if showPrevious 'active'}}">&#9668;</span>
        <span {{action "changePage" 1}} class="{{if showNext 'active'}}">&#9658;</span>
      </div>
    </div>
  {{/if}}

  {{#each paginatedFacets key="value" as |facet index|}}
    <li title={{facet.displayText}}>
      <div class="checkbox-container">
        <input type="checkbox" checked={{facet.checked}} onclick={{action "clickedCheckbox" facet}} />
      </div>
      <div class="facet-value">{{facet.displayText}}</div>
      <a class="only-button" {{action "clickedOnly" facet}}>only</a>
      <a class="facet-count">{{facet.count}}</a>
    </li>
  {{else}}
    <span class="filter-message">No fields!</span>
  {{/each}}
</ul>