<div class='table-header-cell' title='{{unbound column.headerCellName}}'>
  <div class='cell-content'>
    {{unbound column.headerCellName}}
  </div>
  {{#if enableSort}}
    <i class="{{sortIconCSS}}" {{action 'sort'}}></i>
  {{/if}}
  <i class="resize-column" {{action 'startColResize' on=mouseDown}} ></i>
</div>
