<div class="field-name" {{action "toggleValueDisplay"}} title={{data.column.headerTitle}}>
  <div class="field-title">{{data.column.headerTitle}}</div>
  <div class="field-count">({{data.facets.length}})</div>
  <a class="all-button" {{action "selectAll" bubbles=false}}>All</a>
</div>

<ul class="value-list">
  {{input type="text" class="filter-box" value=filterText placeholder="Filter"}}
  {{#each taperedFacets key="value" as |facet index|}}
    <li title={{facet.displayText}}>
      <div class="checkbox-container">
        <input type="checkbox" checked={{facet.checked}} onclick={{action "clickedCheckbox" facet}} />
      </div>
      <div class="facet-value">{{facet.displayText}}</div>
      <a class="only-button" {{action "clickedOnly" facet}}>only</a>
      <a class="facet-count">{{facet.count}}</a>
    </li>
  {{else}}
    <span class="filter-message">No fields!</span>
  {{/each}}
</ul>

<a class="more-less" {{action 'toggleListLimit'}}>
  {{#if limitList}}
    More
  {{else}}
    Less
  {{/if}}
</a>