<div class='table-container'>
  {{#if _showHeader}}
    <div class='table-header'>
      <div class="horizontal-half align-top">
        {{#if enableSearch}}
          {{em-table-search-ui
          text=searchText
          placeholder="Search..."
          }}
        {{/if}}
        <div class="table-message">
          {{#if _statusMessage}}
            <i class="waiting"></i>
            {{_statusMessage}}
          {{/if}}
        </div>
      </div><div class="horizontal-half align-top align-children-right">
      {{#if enablePagination}}
        {{em-table-pagination-ui pageNum=pageNum totalPages=totalPages}}
      {{/if}}
    </div>
    </div>
  {{/if}}
  <div class='table-body-container'>
    {{#unless _columns.length}}
      <div class="data-availability-message">No columns available!</div>
    {{else}}{{#unless _rows.length}}
      <div class="data-availability-message">No records available!</div>
    {{else}}
      <div class='table-body'>
        {{#each _columns as |column|}}
          <div
          style="{{column.customStyle}}"
          class="table-column {{_view.contentIndex 'first-item'}}"
          >
            {{em-table-header-cell}}
            {{#each _rows as |row|}}
              <div class='table-cell {{unbound firstItemCSS _view}}'>
                {{em-table-cell row=row}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    {{/unless}}{{/unless}}
  </div>
  <div class='table-footer'>
    <div class="horizontal-half align-top">
    </div><div class="horizontal-half align-top align-children-right">
    {{#if hasPageNavOnFooter}}
      {{em-table-pagination-ui pageNum=pageNum totalPages=totalPages}}
    {{/if}}
  </div>
  </div>
</div>
