<h1><i>em-table</i> Demo 2 (Event)</h1>

<h4>With columns pinned left & right:</h4>
{{em-table columns=columns1 rows=rows rowCount=10 highlightRowOnMouse=true definition=customTableDefinition columnWidthChangeAction="columnWidthChange" scrollChangeAction="scrollChange" showScrollShadow=true}}

<h4>With columns that shouldn't cause a scroll bar:</h4>
{{em-table columns=columns2 rows=rows rowCount=10 highlightRowOnMouse=true showScrollShadow=true}}

<h4>With columns pinned left:</h4>
{{em-table columns=columns3 rows=rows rowCount=10 highlightRowOnMouse=true showScrollShadow=true}}

<h4>With columns pinned right:</h4>
{{em-table columns=columns4 rows=rows rowCount=10 pageAction="pageActionTest" showScrollShadow=true}}

<h4>With all columns pinned:</h4>
{{em-table columns=columns5 rows=rows rowCount=10 pageAction="pageActionTest" showScrollShadow=true}}

<h4>With just left pinned columns:</h4>
{{em-table columns=columns6 rows=rows rowCount=10 pageAction="pageActionTest" showScrollShadow=true}}

<h4>With just right pinned columns:</h4>
{{em-table columns=columns7 rows=rows rowCount=10 pageAction="pageActionTest" showScrollShadow=true}}

<h4>Pinning in-between columns:</h4>
{{em-table columns=columns8 rows=rows rowCount=10 pageAction="pageActionTest" showScrollShadow=true}}